examples/flow.json
[
  {
    "id": "f2506ff13e75337c",
    "type": "group",
    "z": "314c6683044f5036",
    "name": "MQTT Subscription (Not Configured yet!)",
    "style": {
      "stroke": "#000000",
      "label": true,
      "color": "#000000"
    },
    "nodes": [
      "5103db9724e274f8"
    ],
    "x": 94,
    "y": 99,
    "w": 262,
    "h": 82
  },
  {
    "id": "5103db9724e274f8",
    "type": "mqtt in",
    "z": "314c6683044f5036",
    "g": "f2506ff13e75337c",
    "name": "",
    "topic": "#",
    "qos": "2",
    "datatype": "auto",
    "broker": "",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "a622cff4568e551d",
    "type": "group",
    "z": "314c6683044f5036",
    "name": "MQTT Watchdog",
    "style": {
      "stroke": "#000000",
      "fill": "#ffffbf",
      "label": true,
      "color": "#000000"
    },
    "nodes": [
      "3872f9a1def2cec5",
      "a8d2519ba11cf1ea",
      "fd236ff27b346c3a",
      "67dd46966289ce94"
    ],
    "x": 94,
    "y": 219,
    "w": 692,
    "h": 122
  },
  {
    "id": "3872f9a1def2cec5",
    "type": "watchdog",
    "z": "314c6683044f5036",
    "g": "a622cff4568e551d",
    "contentTypeOpts": [
      {
        "v": "",
        "l": "Please Select a Condition!"
      },
      {
        "v": "3",
        "l": "MQTT connected"
      }
    ],
    "countInstances": 1,
    "name": "",
    "condition": "3",
    "fulfilled": "true",
    "x": 570,
    "y": 260,
    "wires": []
  },
  {
    "id": "a8d2519ba11cf1ea",
    "type": "switch",
    "z": "314c6683044f5036",
    "g": "a622cff4568e551d",
    "name": "",
    "property": "status.fill",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "green",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 330,
    "y": 280,
    "wires": [
      [
        "3872f9a1def2cec5"
      ],
      [
        "fd236ff27b346c3a"
      ]
    ]
  },
  {
    "id": "fd236ff27b346c3a",
    "type": "watchdog",
    "z": "314c6683044f5036",
    "g": "a622cff4568e551d",
    "contentTypeOpts": [
      {
        "v": "",
        "l": "Please Select a Condition!"
      },
      {
        "v": "3",
        "l": "MQTT connected"
      }
    ],
    "countInstances": 1,
    "name": "",
    "condition": "3",
    "fulfilled": "false",
    "x": 590,
    "y": 300,
    "wires": []
  },
  {
    "id": "67dd46966289ce94",
    "type": "status",
    "z": "314c6683044f5036",
    "g": "a622cff4568e551d",
    "name": "",
    "scope": [
      "5103db9724e274f8"
    ],
    "x": 180,
    "y": 280,
    "wires": [
      [
        "a8d2519ba11cf1ea"
      ]
    ]
  },
  {
    "id": "bb0fe93ebc6cdaed",
    "type": "group",
    "z": "314c6683044f5036",
    "name": "Health Checks",
    "style": {
      "stroke": "#000000",
      "fill": "#e3f3d3",
      "label": true,
      "color": "#000000"
    },
    "nodes": [
      "46775bc61489f216"
    ],
    "x": 94,
    "y": 379,
    "w": 192,
    "h": 82
  },
  {
    "id": "46775bc61489f216",
    "type": "health checks",
    "z": "314c6683044f5036",
    "g": "bb0fe93ebc6cdaed",
    "countInstances": 1,
    "name": "",
    "port": "",
    "sequence": 4,
    "conditions": [
      {
        "name": "MQTT connected",
        "id": "3",
        "status": false
      }
    ],
    "started": [
      "3"
    ],
    "ready": [
      "3"
    ],
    "alive": [
      "3"
    ],
    "x": 190,
    "y": 420,
    "wires": []
  }
]